@use 'colors.scss';

.footer {
  position: sticky;
  top: 100vh;
  .container {
    padding-bottom: 0;
  }
  .nav-link {
    color: var(--gray);
    text-transform: capitalize;
    height: 124px;
    line-height: 124px;
  }
}