@import-normalize;

:root {
  --bg: #F4F7FC;
  --white: #FFF;
  --main: #272A34;
  --gray: #808689;
  --light-gray: #D0D6D9;
  --primary: #242F57;
  --green: #00B988;
  --red: #FF594E;
  --yellow: #E9AF1C;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--primary);
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root { height: 100%;}

h1, h2 {
  font-weight: 700;
}

h3, h4 {
  font-weight: 500;
}

h1 {
  margin: 1em 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  padding-right: 32px;
  padding-left: 32px;
  margin-right: auto;
  margin-left: auto;
  max-width: min(1440px, calc(100vw - 64px));
  min-width: 720px;
  padding-bottom: 50px;
}

.lockup-row {
  padding: 20px;
  display: flex;
  gap: 20px;
}

.lockup-row-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.terminate {
  width: 270px;
  margin: auto 10px 0 auto;
}

.terminate .button {
  width: 100%;
  border: 1px solid var(--red);
  background: var(--white);
  color: var(--red);
}

.terminate .button:hover {
  background: var(--red);
  color: var(--white);
}

.terminate span {
  color: var(--gray);
  display: block;
  margin: 10px 0 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.header {
  height: 82px;
  background: var(--white);
  margin: 0 0 50px;
}

.logo {
  font-size: 24px;
  line-height: 82px;
  font-weight: 800;
  margin-right: 50px;
  color: var(--primary);
  text-decoration: none;
}

.nav {
  display: flex;
  margin-right: auto;
}

.account-name {
  margin-right: 12px;
  font-weight: 500;
}

.nav-link {
  display: block;
  font-size: 16px;
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  height: 82px;
  line-height: 82px;
  margin: 0 12px;
  padding: 0 7px;
}

.new-lockup-contract p {
  margin-bottom: 48px;
}

.new-lockup-contract .form-wrapper {
  background-color: var(--white);
  border-radius: 12px;
  padding: 32px;
}

.new-lockup-contract .form-row {
  margin: 24px 0;
}

.new-lockup-contract .form-row_group {
  position: relative;
  display: inline-block;
}

.new-lockup-contract .form-row_error {
  position: absolute;
  font-size: 10px;
  line-height: 20px;
  left: 0;
  top: 100%;
}

.form-row .button {
  display: block;
  padding: 8px 32px;
}

.form-row .form-row_title {
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
  width: 256px;
  line-height: 40px;
  margin-right: 52px;
}

.form-row strong {
  display: inline-block;
  width: 340px;
  line-height: 40px;
  margin-bottom: 5px;
}

.form-row input {
  width: 300px;
  height: 38px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  font-size: 16px;
  padding: 0 12px;
}

.add-remove-input .form-group {
  position: relative;
}

.add-remove-input .form-group:not(:first-child) {
  margin-top: 24px;
}

.add-remove-input .form-group input {
  margin-right: 8px;
}

.process-log {
  border-radius: 10px;
  border: 1px solid var(--gray);
  padding: 10px 20px;
  background-color: var(--white);
  font-size: 16px;
  font-family: monospace;
  line-height: 32px;
}

.import-draft-group-wrapper {
  border-radius: 16px;
  padding: 32px;
  background: var(--white);
}

.import-draft-group-wrapper {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}

.import-draft-group-textarea {
  min-width: 100%;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
}

.draft-group-preview-wrapper {
  display: flex;
  align-items: flex-end;
  padding: 24px;
  border-radius: 16px;
  background: var(--white);
  margin-bottom: 20px;
}

.draft-group-preview-info {
  display: flex;
  flex-direction: column;
}

.draft-group-preview-inner h5 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 12px;
}

.draft-group-fund-button-wrapper {
  display: flex;
  margin-left: auto;
}

.draft-group-preview-inner .button {
  height: 48px;
  width: 180px;
  font-weight: 700;
  margin: 20px 0 0 24px;
}

.claim-wrapper {
  display: flex;
  align-items: flex-end;
  padding: 24px;
  border-radius: 16px;
  background: var(--white);
  margin-bottom: 2em;
}

.claim-preview-info {
  display: flex;
  flex-direction: column;
}

.claim-wrapper h5 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 12px;
}

.claim-button-wrapper {
  display: flex;
  margin-left: auto;
}

.claim-wrapper .claim-button-wrapper .button {
  height: 48px;
  width: 180px;
  font-weight: 700;
  margin: 20px 0 0 24px;
}


.token-info {
  display: flex;
  align-items: center;
}

.token-amount {
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  text-align: right;
  margin-right: 10px;
}

.main-table {
  border-color: #EAEDF7;
  background: #fff;
}

table.MuiTable-root.main-table {
  border-collapse: separate;
  border-spacing: 0;
}

table.MuiTable-root.main-table thead {
  border-bottom: none;
}

table.MuiTable-root.main-table thead th {
  border-bottom: none;
}

table.MuiTable-root.main-table {
  background-color: transparent;
}

table.MuiTable-root.main-table tbody {
  background-color: transparent;
}

table.MuiTable-root.main-table tbody tr {
  background-color: transparent;
}

table.MuiTable-root.main-table tbody tr:not(.expanded) td {
  background-color: var(--white);
}

table.MuiTable-root.main-table tbody tr:first-child td {
  border-top: 1px solid #EAEDF7;
  /* border-bottom: 1px solid var(--light-gray); */
}

table.MuiTable-root.main-table tbody tr td {
  border-bottom: 1px solid #EAEDF7 !important;
}

table.MuiTable-root.main-table tbody tr:first-child td:first-child {
  /* border: 1px solid red; */
  border-top-left-radius: 10px;
}

table.MuiTable-root.main-table tbody tr:first-child td:last-child {
  /* border: 1px solid red; */
  border-top-right-radius: 10px;
}

table.MuiTable-root.main-table tbody tr:last-child td:first-child {
  /* border: 1px solid red; */
  border-bottom-left-radius: 10px;
}

table.MuiTable-root.main-table tbody tr:last-child td:last-child {
  /* border: 1px solid red; */
  border-bottom-right-radius: 10px;
}

td.MuiTableCell-root {
  padding: 16px 12px;
}

th.MuiTableCell-root {
  padding: 8px 12px;
}

.table-head .MuiTableCell-head {
  color: var(--primary);
  background: var(--bg);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
}

.main-table tr .MuiTableCell-head:first-child {
  border-left: 1px solid var(--bg);
}

.main-table tr .MuiTableCell-head:last-child {
  border-right: 1px solid var(--bg);
}

.main-table .MuiTableCell-head,
.main-table .MuiTableCell-body {
  border-bottom-color: #EAEDF7;
}

.main-table .MuiTableCell-body {
  color: var(--primary);
}

.main-table tr .MuiTableCell-body:first-child {
  border-left: 1px solid #EAEDF7;
}

.main-table tr .MuiTableCell-body:last-child {
  border-right: 1px solid #EAEDF7;
}

.main-table .inner-table tr .MuiTableCell-body:first-child,
.main-table .inner-table tr .MuiTableCell-head:first-child {
  border-left: 1px solid var(--white);
}

.main-table .inner-table tr .MuiTableCell-body:last-child,
.main-table .inner-table tr .MuiTableCell-head:last-child {
  border-right: 1px solid var(--white);
}

.main-table .MuiTableCell-body a {
  color: var(--primary);
}

.main-table .exp-row .MuiTableCell-body {
  border-bottom: unset;
}
.main-table .expanded .MuiTableCell-body {
  background: var(--bg);
  transition: background-color .2s;
}

.inner-table_wrapper {
  background: var(--white);
  width: 350px;
  height: 500px;
  overflow-y: auto;
  padding: 10px 0 10px 0;
  border-radius: 10px;
}

.inner-table_wrapper h5 {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 0 0;
  padding: 0 12px;
}

.inner-table {
  font-weight: 700;
}

.inner-table .MuiTableCell-head {
  color: #97A0C3;
  font-weight: 700;
  border-bottom-color: #EAEDF7;
  font-size: 10px;
}
.inner-table .MuiTableCell-body {
  border-bottom-color: #EAEDF7;
  font-size: 12px;
}

.progress-bar-outer {
  padding: 10px 0;
  width: 200px;
  margin: 0 auto;
}

.progress-bar {
  display: flex;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
}

.progress-bar span {
  display: block;
  color: #fff;
  font-size: 10px;
  line-height: 16px;
}

.progress-bar__tooltip {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.progress-bar__tooltip span {
  display: block;
  width: 100%;
}

.progress-bar__tooltip span {
  display: block;
  width: calc(50% - 2px);
  font-size: 12px;
  margin: 5px 1px;
}

.progress-bar__tooltip span i {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.progress-bar__tooltip span b {
  font-weight: 600;
}

.MuiTooltip-popper .MuiTooltip-tooltip {
  border-radius: 8px;
}

.claimed {
  background: var(--yellow);
}

.available {
  background: var(--green);
}

.vested {
  background: #0069D1;
}

.unvested {
  background: #F45800;
}

.button, .MuiButtonBase-root.button, .MuiLoadingButton-root.button {
  background: var(--green);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 8px;
  color: var(--white);
  border: unset;
  padding: 12px 32px;
  cursor: pointer;
  box-shadow: none;
  min-width: 120px;
  text-transform: none;
}

.MuiLoadingButton-root .MuiLoadingButton-loadingIndicator {
  color: var(--white);
}

.MuiLoadingButton-root.Mui-disabled.button {
  color: var(--white);
}

.MuiLoadingButton-root.Mui-disabled.MuiLoadingButton-loading {
  color: transparent;
}

.MuiButtonBase-root.button:hover, .MuiLoadingButton-root.button:hover {
  background: var(--green);
}

.MuiLoadingButton-root.button.red:hover {
  background: var(--red);
}

.MuiDialog-container .MuiDialogActions-root>:not(:first-of-type) {
  margin-left: 24px;
}

.submit {
  margin-top: 24px;
}

.main .button {
  margin: 20px 0;
}

.main .home .button {
  font-size: 20px;
  padding: 16px 32px;
  margin: 0;
}

.button.large {
  padding: 16px 32px;
}

.header .button {
  padding: 8px 32px;
}

.link-button {
  display: inline-block;
  text-decoration: none;
}

.button[disabled] {
  background: var(--light-gray)!important;
}

.button.fullWidth {
  width: 100%;
}

.button.red {
  background: var(--red);
}

.MuiFormControl-root .MuiFormHelperText-root.Mui-error {
  color: var(--red);
}

.MuiInputBase-root.MuiOutlinedInput-root {
  color: var(--primary);
  background-color: var(--white);
}

.MuiInputBase-root.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: var(--red);
}

.MuiInputBase-root.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: var(--light-gray);
  border-radius: 8px;
}

.MuiInputBase-root.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--gray);
}

.search-container .MuiInputAdornment-root {
  height: 1.4em;
}

.input {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  color: var(--gray);
}

.input.large {
  width: 800px;
  margin-right: 32px;
}

.input.fullWidth {
  width: calc(100% - 152px);
  margin-right: 32px;
}

.home-list {
  margin: 0 0 60px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.home-list li {
  width: 300px;
  display: flex;
  border-radius: 12px;
  margin: 0 10px;
  padding: 18px 24px;
  border: 1px solid var(--light-gray);
}

.home-list li div {
  margin-left: 24px;
  text-align: left;
}

.home-list li span {
  display: block;
  font-weight: 400;
  line-height: 24px;
}

.home-list li b {
  display: block;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
}

svg {
  margin: auto;
}

.home {
  text-align: center;
  width: 980px;
  padding: 100px 0 0;
}

.line {
  border-bottom: 1px solid var(--light-gray);
  margin: 60px 0;
}

.home h2 {
  font-size: 56px;
  line-height: 1;
  margin: 20px 0;
}

.home h5 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
}

.block {
  margin: 32px 0;
  background-color: var(--white);
  padding: 32px;
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.left_part {
  margin-left: auto;
}

.main button.button.compact {
  margin: 0;
}

.discarded-marker {
  font-weight: 800;
  background-color: var(--light-gray);
  border-radius: 10px;
  padding: 3px 10px;
}

.row-error {
  background: #ffefee;
  padding: 16px 32px;
  line-height: 34px;
  font-size: 16px;
  font-weight: 700;
  color: var(--red);
}

.new-draft-count-text {
  line-height: 30px;
  font-size: 16px;
}

p.standard-text-style {
  font-size: 16px;
  font-weight: 300;
}

.parse-error-label {
  font-weight: 800;
  background-color: #ffefee;
  color: var(--red);
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
}

.code {
  font-family: monospace;
  background-color: var(--light-gray);
  padding: 0 5px;
  border-radius: 4px;
}

.nowrap {
  white-space: nowrap;
}

.login {
  margin: 100px auto;
  text-align: center;
}

.login .MuiAlert-root {
  margin: 2em auto;
  width: 380px;
}

.login .button {
  width: 150px;
  margin: 20px;
}

span.red {
  color: var(--red);
}

span.green {
  color: var(--green);
}

span.gray {
  color: var(--gray);
}

.vested-amount-info {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
