@import-normalize;

:root {
  --bg: #F4F7FC;
  --white: #FFF;
  --main: #272A34;
  --gray: #808689;
  --light-gray: #D0D6D9;
  --primary: #242F57;
  --green: #00B988;
  --red: #FF594E;
  --yellow: #E9AF1C;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--primary);
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root { height: 100%;}

h1, h2 {
  font-weight: 700;
}

h3, h4 {
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  padding-right: 32px;
  padding-left: 32px;
  margin-right: auto;
  margin-left: auto;
  max-width: min(1440px, calc(100vw - 64px));
  min-width: 720px;
  padding-bottom: 50px;
}

.lockup-row {
  padding: 20px;
}

.terminate {
  width: 270px;
  margin: auto 10px 0 auto;
}

.terminate .button {
  width: 100%;
  border: 1px solid var(--red);
  background: var(--white);
  color: var(--red);
}

.terminate .button:hover {
  background: var(--red);
  color: var(--white);
}

.terminate span {
  color: var(--gray);
  display: block;
  margin: 10px 0 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.header {
  height: 82px;
  background: var(--white);
  margin: 0 0 50px;
}

.logo {
  font-size: 24px;
  line-height: 82px;
  font-weight: 800;
  margin-right: 50px;
  color: var(--primary);
  text-decoration: none;
}

.nav {
  display: flex;
  margin-right: auto;
}

.account-name {
  margin-right: 12px;
  font-weight: 500;
}

.nav-link {
  display: block;
  font-size: 16px;
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  height: 82px;
  line-height: 82px;
  margin: 0 12px;
  padding: 0 7px;
}

.new-lockup-contract p {
  margin-bottom: 48px;
}

.new-lockup-contract .form-wrapper {
  background-color: var(--white);
  border-radius: 12px;
  padding: 32px;
}

.new-lockup-contract .form-row {
  margin: 24px 0;
}

.new-lockup-contract .form-cell {
  display: inline-block;
}

.form-row button {
  display: block;
  padding: 8px 32px;
}

.form-row span {
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
  width: 256px;
  line-height: 40px;
  margin-right: 52px;
}

.form-row strong {
  display: inline-block;
  width: 340px;
  line-height: 40px;
  margin-bottom: 5px;
}

.form-row input {
  width: 300px;
  height: 38px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  font-size: 16px;
  padding: 0 12px;
}

div.process-log {
  border-radius: 10px;
  border: 1px solid var(--gray);
  padding: 10px 20px;
  background-color: var(--white);
  font-size: 16px;
  font-family: monospace;
  line-height: 32px;
}

.import-draft-group-wrapper {
  border-radius: 16px;
  padding: 32px;
  background: var(--white);
}

.import-draft-group-wrapper {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}

.import-draft-group-textarea {
  min-width: 100%;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
}

.draft-group-preview-wrapper {
  display: flex;
  align-items: flex-end;
  padding: 24px;
  border-radius: 16px;
  background: var(--white);
  margin-bottom: 20px;
}

.draft-group-preview-info {
  display: flex;
  flex-direction: column;
}

.draft-group-preview-inner h5 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 12px;
}

.draft-group-fund-button-wrapper {
  display: flex;
  margin-left: auto;
}

.draft-group-preview-inner button {
  height: 48px;
  width: 180px;
  font-weight: 700;
  margin: 20px 0 0 24px;
}

.claim-wrapper {
  padding: 24px;
  display: inline-block;
  border-radius: 16px;
  border: 1px solid #EDF2F7;
  background: var(--white);
  margin-bottom: 20px;
}

.claim-wrapper h5 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 24px;
}

.token-info {
  display: flex;
  align-items: center;
}

.token-amount {
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  text-align: right;
  margin-right: 10px;
}

.claim-wrapper button {
  height: 48px;
  font-weight: 700;
  margin: 20px 0 0;
}

.main-table {
  border-color: #EAEDF7;
  background: #fff;
}

.table-head .MuiTableCell-head {
  color: var(--primary);
  background: var(--bg);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
}

.main-table tr .MuiTableCell-head:first-child {
  border-left: 1px solid var(--bg);
}

.main-table tr .MuiTableCell-head:last-child {
  border-right: 1px solid var(--bg);
}

.main-table .MuiTableCell-head,
.main-table .MuiTableCell-body {
  border-bottom-color: #EAEDF7;
}

.main-table .MuiTableCell-body {
  color: var(--primary);
}

.main-table tr .MuiTableCell-body:first-child {
  border-left: 1px solid #EAEDF7;
}

.main-table tr .MuiTableCell-body:last-child {
  border-right: 1px solid #EAEDF7;
}

.main-table .inner-table tr .MuiTableCell-body:first-child,
.main-table .inner-table tr .MuiTableCell-head:first-child {
  border-left: 1px solid var(--white);
}

.main-table .inner-table tr .MuiTableCell-body:last-child,
.main-table .inner-table tr .MuiTableCell-head:last-child {
  border-right: 1px solid var(--white);
}

.main-table .MuiTableCell-body a {
  color: var(--primary);
}

.main-table .exp-row .MuiTableCell-body {
  border-bottom: unset;
}
.main-table .expanded .MuiTableCell-body {
  background: var(--bg);
  transition: background-color .2s;
}

.inner-table_wrapper {
  background: var(--white);
  width: 320px;
  padding: 20px 0;
  border-radius: 10px;
}

.inner-table_wrapper h5 {
  font-size: 14px;
  font-weight: 700;
  margin: 4px 0 14px;
  padding: 0 16px;
}

.inner-table {
  font-weight: 700;
}

.inner-table .MuiTableCell-head {
  color: #97A0C3;
  font-weight: 700;
  border-bottom-color: #EAEDF7;
  font-size: 10px;
}
.inner-table .MuiTableCell-body {
  border-bottom-color: #EAEDF7;
  font-size: 12px;
}

.progress-bar {
  display: flex;
  width: 200px;
  margin: 0 auto;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
}

.progress-bar span {
  display: block;
  color: #fff;
  font-size: 10px;
  line-height: 16px;
}

.progress-bar__tooltip {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.progress-bar__tooltip span {
  display: block;
  width: 50%;
}

.progress-bar__tooltip span {
  display: block;
  width: calc(50% - 10px);
  font-size: 12px;
  margin: 5px;
}

.progress-bar__tooltip span i {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.progress-bar__tooltip span b {
  font-weight: 600;
}

.claimed {
  background: var(--yellow);
}

.available {
  background: var(--green);
}

.vested {
  background: #0069D1;
}

.unvested {
  background: #F45800;
}

.button, .MuiLoadingButton-root.button {
  background: var(--green);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 8px;
  color: #fff;
  border: unset;
  padding: 12px 32px;
  cursor: pointer;
  box-shadow: none;
}

.MuiLoadingButton-root.button:hover {
  background: var(--green);
}

.submit {
  margin-top: 24px;
}

.main .button {
  margin: 20px 0;
}

.main .home .button {
  font-size: 20px;
  padding: 16px 32px;
  margin: 0;
}

.header .button {
  padding: 8px 32px;
}

.link-button {
  display: inline-block;
  text-decoration: none;
}

.button[disabled] {
  background: var(--light-gray)!important;
}

.button.fullWidth {
  width: 100%;
}

.button.red {
  background: var(--red);
}

.MuiInputBase-input {
  border: 1px solid var(--light-gray);
  background: #fff;
  border-radius: 12px;
  color: var(--gray);
}

.search-container .MuiInputAdornment-root {
  height: 1.4em;
}

.input {
  border: 1px solid var(--light-gray);
  background: #fff;
  border-radius: 12px;
  color: var(--gray);
}

.home .input {
  width: 800px;
  margin-right: 32px;
}

.home-list {
  margin: 0 0 60px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.home-list li {
  width: 300px;
  display: flex;
  border-radius: 12px;
  margin: 0 10px;
  padding: 18px 24px;
  border: 1px solid var(--light-gray);
}

.home-list li div {
  margin-left: 24px;
  text-align: left;
}

.home-list li span {
  display: block;
  font-weight: 400;
  line-height: 24px;
}

.home-list li b {
  display: block;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
}

svg {
  margin: auto;
}

.home {
  text-align: center;
  width: 980px;
}

.line {
  border-bottom: 1px solid var(--light-gray);
  margin: 60px 0;
}

.home h2 {
  font-size: 56px;
  line-height: 1;
  margin: 20px 0;
}

.home p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
}

.login .button {
  width: 150px;
  height: 48px;
  margin: 20px;
}

.main button.button.compact {
  margin: 0;
}

span.discarded-marker {
  font-weight: 800;
  background-color: var(--light-gray);
  border-radius: 10px;
  padding: 0 5px;
}

div.row-error {
  background: #ffefee;

  height: 66px;
  padding: 16px 32px;
  line-height: 34px;
  font-size: 16px;
  box-sizing: border-box;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;

  color: #FF594E;
}

.parse-error-label {
  font-weight: 800;
  background-color: #ffefee;
  color: var(--red);
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
}
